:root {
    --text-padding-left: 100px;
}

/* center-box */

#container {
    display: inline-flex;
}

/* heading-box */


/* center-box */

.center-box {
    padding-left: var(--text-padding-left)
}

#center-box-heading {
    margin-bottom: 0px;
}

form {
    display: inline-flex;
}

#form-right {
    padding-left: 60px;
}

.prompt {
    padding-top: 15px;
    padding-bottom: 15px
}

input {
    width: 300px;
    height: 30px;
}

/* footer-box */

.footer-box {
    padding-left: var(--text-padding-left);
}